<section class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">About Me</h3>
	</div>
	<div style="margin-top:15px; margin-left:15px; margin-right:15px;">
		<p><img class="pull-left" style="margin-right: 10px" src="{% gravatar_image %}" alt="Gravatar of {{ site.author }} " title="Gravatar of {{ site.author }}" /></p>
		
		<p><a href="http://twitter.com/MarkBadolato">Mark Badolato</a><br/>Enterprise web application architect and developer</p>

		<h4>Around The Net</h4>

	  	<p>
			<a href="http://github.com/mbadolato" title="Github" class="fa fa-github-square fa-2x"></a>
			<a href="http://twitter.com/MarkBadolato" title="Twitter" class="fa fa-twitter-square fa-2x"></a>
			<a href="http://facebook.com/badolato" title="Facebook" class="fa fa-facebook-square fa-2x"></a>
			<a href="http://linkedin.com/in/mbadolato/" title="LinkedIn" class="fa fa-linkedin-square fa-2x"></a>
			<a href="https://plus.google.com/+MarkBadolato/" title="Google+" class="fa fa-google-plus-square fa-2x"></a>
			<a href="mailto:mbadolato+website@gmail.com" title="Email Me" class="fa fa-envelope-square fa-2x"></a>
			<a href="{{ site.subscribe_rss }}" title="RSS" class="fa fa-rss-square fa-2x"></a>
		</p>

		<h4>PGP Fingerprint</h4>
		<p>6667 AFEB 64CF E9FA 6FCB  B2CA A259 A958 7D4D 7524</p>	
	</div>
</section>
